*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
button{
    border:0;
    outline:none;
    background-color: transparent;
}
body{
    position: relative;

}
.bg-image{
    width: 100vw;
    height: 100vh;
    background-image: url("https://p1.music.126.net/TXdH_qsA3L8Qlxt_acr4fw==/2412328511393200.jpg");
    filter: blur(30px);
    /*opacity: 0.5;*/
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-size: cover;
}
.container{
    width: 350px;
    height: 350px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}
.controls {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    position: relative;
    background-image: url("https://p1.music.126.net/TXdH_qsA3L8Qlxt_acr4fw==/2412328511393200.jpg");
    animation: cover 23s linear infinite;
    background-size: 100%;
}
.button-row{
    height: 70px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    background-color: rgba(255,255,255,0.6);
}
.playStyle{
    width: 55px;
    height: 55px;
    background-size: cover;
    animation: none;
    opacity: 1;
}
.play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../assets/images/play.png");
    z-index: 2;
}
.stop{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../assets/images/stop.png");
    z-index: 2;
}
.previous{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../assets/images/previous.png");
    background-size: 100%;
    z-index: 2;
}
.next{
    width: 50px;
    height: 50px;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-image: url("../assets/images/next.png");
    background-size: 100%;
    z-index: 2;
}
.playOrder{
    /*border: 1px solid red;*/
    width: 23px;
    height: 23px;
    right: 10%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}
@keyframes cover {
       0%{
           transform: rotate(0turn);
       }
    100%{
    transform: rotate(1turn);
    }
}
.hidden{
    visibility: hidden;
}
.active{
    visibility: visible;
}
.sequence-play{
    background-image: url("../assets/images/sequence_play.png");
}
.random-play{
    background-image: url("../assets/images/random_play.png");
}
.simple-cycle-play{
    background-image: url("../assets/images/simple_cycle_play.png");
}
.cover-image-url{

}
.play-url{

}
.masking-out{
    /*opacity:0.6;*/
    background-color: rgba(255,255,255,0.6);
    /*background-color: transparent;*/
    /*opacity: 0.3;*/
}

.cover-animation-init{
    animation: cover 23s linear infinite;
}
.message{

}