*,*::after,*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
button{
    border:0;
    outline:none;
    background-color: transparent;
}
body{
    position: relative;
}
li,ol,ul{
    list-style: none;
}
.bg-image{
    width: 100vw;
    height: 100vh;
    background-image: url("https://p1.music.126.net/TXdH_qsA3L8Qlxt_acr4fw==/2412328511393200.jpg");
    filter: blur(30px);
    /*opacity: 0.5;*/
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-size: cover;
}
.container{
    width: 500px;
    height: 450px;
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 50px;
    transform: translate(-50%, -50%);
    /*background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898; background-blend-mode: multiply,multiply;*/
    /*background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);*/
    background-image: linear-gradient(-20deg, #616161 0%, #9bc5c3 100%);
}
.controls {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    left: 0;
    top: 0;
    /*transform: translateX(-50%);*/
    background-image: url("https://p1.music.126.net/TXdH_qsA3L8Qlxt_acr4fw==/2412328511393200.jpg");
    background-size: 100%;
}
.lyric-display{
    width: 200px;
    height: 380px;
    position: absolute;
    top: 13px;
    right: 23px;
    /*border: 1px solid red;*/
}
.song-info{
    width: 90%;
    /*border: 1px solid yellow;*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
}
.song-info > ul > li:first-child{
    font-size: 1em;

}
.song-info > ul > li:nth-child(2){
   font-size: 12px;
}
.song-info > ul > li:nth-child(3){
    font-size: 12px;
}

.lyric-display .lyric-list{
    /*border: 1px solid blueviolet;*/
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    color: #f1ebeb;
    font-size: 0.8em;
    overflow-y: auto;
}
/*定义整体的宽度*/
.lyric-list::-webkit-scrollbar {
    width: 3px;
}
/*定义滚动条轨道*/
.lyric-list::-webkit-scrollbar-track {
    border-radius: 5px;
}
/*定义滑块*/
.lyric-list::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background: rgba(27, 140, 236, 0.5);
}
/*.song-name{*/
/*    margin-bottom: 50%;*/
/*}*/
.lyric-display > ul > li{
    /*border: 1px solid red;*/
    width: 100%;
    display: block;
    font-family: 'Trebuchet MS', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 1em;
}
/*.lyric-display > ul > li:first-child{*/
/*    margin-top: 70%;*/
/*}*/
.button-row{
    height: 45px;
    width: 250px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
    border-radius: 13px;
    background-color: rgba(255,255,255,1);
}
.playStyle{
    width: 30px;
    height: 30px;
    background-size: cover;
    animation: none;
    opacity: 1;
}
.play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../assets/images/play.png");
    z-index: 2;
}
.stop{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../assets/images/stop.png");
    z-index: 2;
}
.previous{
    position: absolute;
    width: 28px;
    height: 28px;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    background-image: url("../assets/images/previous.png");
    background-size: 100%;
    z-index: 2;
}
.next{
    width: 28px;
    height: 28px;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-image: url("../assets/images/next.png");
    background-size: 100%;
    z-index: 2;
}
.playOrder{
    /*border: 1px solid red;*/
    width: 23px;
    height: 23px;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2;
}
@keyframes cover {
       0%{
           transform: rotate(0turn);
       }
    100%{
    transform: rotate(1turn);
    }
}
.hidden{
    visibility: hidden;
}
.active{
    visibility: visible;
}
.sequence-play{
    background-image: url("../assets/images/sequence_play.png");
}
.random-play{
    background-image: url("../assets/images/random_play.png");
}
.simple-cycle-play{
    background-image: url("../assets/images/simple_cycle_play.png");
}
.cover-image-url{

}
.play-url{

}
.masking-out{
    /*opacity:0.6;*/
    background-color: rgba(255,255,255,0.6);
    /*background-color: transparent;*/
    /*opacity: 0.3;*/
}

.cover-animation-init{
    animation: cover 23s linear infinite;
}
.message{

}
.lyric-active{
    /*background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);*/
    /*background-image: linear-gradient(-20deg, #e9defa 0%, #fbfcdb 100%);*/
    /*background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);*/
    /*background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);*/
    /*background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);*/
    background-image: linear-gradient(45deg, #93a5cf 0%, #e4efe9 100%);
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.2em;
    -webkit-text-fill-color: transparent;
}
/*.frequency{*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    height: 175px;*/
/*    width: 350px;*/
/*    border: 1px solid red;*/
/*    z-index: 1;*/
/*    border-radius: 0 0 350px 350px;*/
/*}*/